#btn {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    font-size: 30px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#btn:hover {
    cursor: pointer;
}

#text {
    display: block;
    display: flex;
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    font-size: 30px;

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#color {
    display: block;
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    border-radius: 5px;
}

#wall {
    margin-top: 200px;
    display: block;
    display: flex;
    justify-content: center;
}
